<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Component | CodeByAddro</title>
    <!-- css -->
    <link rel="stylesheet" href="../assets/css/footer.css">
    <!-- icon -->
    <link href='https://cdn.boxicons.com/3.0.3/fonts/basic/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <footer>
        <div class="footer-content">
            <div class="footer-top">
                <div class="brand-logo">
                    <img src="../assets/images/brand-logo.png" alt="Brand Logo">
                </div>
                <div class="footer-menus">
                    <ul>
                        <li>
                            <a href="">Terms of Service</a>
                        </li>
                        <li>
                            <a href="">Tickets</a>
                        </li>
                        <li>
                            <a href="">Contact Us</a>
                        </li>
                        <li>
                            <img src="../assets/images/us-flag.svg" alt="us flag">
                            English
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="copyright">
                    <p><span id="copyrightyear"></span> | All Rights Reserved</p>
                </div>
                <div class="payment-gateways">
                    <div>
                        <img src="../assets/images/payment-gateway-1.png" alt="Payment gateway logo">
                    </div>
                    <div>
                        <img src="../assets/images/payment-gateway-2.png" alt="Payment gateway logo">
                    </div>
                    <div>
                        <img src="../assets/images/payment-gateway-3.png" alt="Payment gateway logo">
                    </div>
                    <div>
                        <img src="../assets/images/payment-gateway-4.png" alt="Payment gateway logo">
                    </div>
                    <div>
                        <img src="../assets/images/payment-gateway-5.png" alt="Payment gateway logo">
                    </div>
                    <div>
                        <img src="../assets/images/payment-gateway-6.png" alt="Payment gateway logo">
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- js -->
    <script src="../assets/js/footer.js"></script>
</body>
</html>