<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Component | CodeByAddro</title>
    <!-- css -->
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <!-- icon -->
    <link href='https://cdn.boxicons.com/3.0.3/fonts/basic/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <nav>
        <div class="nav-content">
            <div class="nav-logo-menus">
                <div class="nav-logo">
                    <h1>Libgram</h1>
                </div>
                <div class="nav-menus">
                    <ul id="mobileMenu">
                        <li>
                            Instagram
                            <i class='bx  bx-chevron-down'></i> 
                        </li>
                        <li>
                            Youtube
                            <i class='bx  bx-chevron-down'></i> 
                        </li>
                        <li>
                            TikTok
                            <i class='bx  bx-chevron-down'></i> 
                        </li>
                        <li>
                            Telegram
                            <i class='bx  bx-chevron-down'></i> 
                        </li>
                        <li>
                            Twitter
                            <i class='bx  bx-chevron-down'></i> 
                        </li>
                        <li>
                            <i class='bx  bx-dots-horizontal-rounded'></i> 
                        </li>
                    </ul>
                </div>
            </div>
            <div class="nav-buttons">
                <div class="login-btn">
                    <button>
                        Login
                        <i class='bx  bx-arrow-in-right-square-half'></i> 
                    </button>
                </div>
            </div>
            <div class="nav-hamburger" onclick="toggleMenu()">
                <i class='bx  bx-menu'></i> 
            </div>
        </div>
    </nav>
    
    <!-- js -->
    <script src="../assets/js/navbar.js"></script>
</body>
</html>