@import "tailwindcss";

@font-face {
    font-family: Poppins;
    src: url(../src/assets/fonts/Poppins-Regular.ttf);
}



@theme{
    --color-button-primary: #FF645B;
    --color-green-paste-green: #C2FFD9;
    --color-light-purple: #B8B9FD;
    --color-light-red: #FFE5D4;
    --font-poppins: Poppins, "sans-serif";  
};